body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: linear-gradient(110deg, #10002B, #4c2d68, #3C096C, #4c2d68, #10002B);
  color: #E0D6FF;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  min-height: 100vh;
  animation: zxc 30s ease infinite;
  background-attachment: fixed;
}

.gradient-element {
  background-image: linear-gradient(110deg,#10002B, #4c2d68, #3C096C, #4c2d68, #10002B);
  background-size: 400% 100%;
  animation: gradient-shift 120s ease infinite;
}

@keyframes gradient-shift {
  0% {
    background-position: 0% 50%; 
  }
  100% {
    background-position: 100% 50%;
    background-image: linear-gradient(110deg,#10002B, #4c2d68, #3C096C, #4c2d68, #10002B);
  }
}